JWT_ISSUER=jobapp-authms
JWT_SECRET=replace-with-at-least-32-bytes-of-random-secret
INTERNAL_SERVICE_SECRET=replace-with-a-different-random-internal-secret
POSTGRES_USER=user
POSTGRES_PASSWORD=password
AUTH_DB_USERNAME=user
AUTH_DB_PASSWORD=password
REDIS_PASSWORD=
