# =========================
# Build Artifacts
# =========================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Compiled class files
*.class
*.jar
*.war
*.ear

# =========================
# Maven / Gradle
# =========================
.mvn/wrapper/maven-wrapper.jar
.mvn/
.settings/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Spring Tool Suite (STS)
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
HELP.md

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# OS Specific
# =========================
.DS_Store
Thumbs.db
